config/ClarifyEnv.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 3 U (http://www.xmlspy.com) by umaheshw (Amdocs Israel) -->
<!--W3C Schema generated by XMLSPY v5 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema targetNamespace="www.amdocsclarify.config" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="www.amdocsclarify.config" elementFormDefault="qualified">
	<xs:element name="ClarifyEnv">
		<xs:complexType>
			<xs:all minOccurs="0">
				<xs:element name="ExternalAuthentication" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="LoginModule">
								<xs:complexType>
									<xs:attribute name="LDAP_HOSTNAME" type="xs:string"/>
									<xs:attribute name="LDAP_PORT" type="xs:int"/>
									<xs:attribute name="HostId" type="xs:string"/>
									<xs:attribute name="AppIdUAMS" type="xs:string"/>
									<xs:attribute name="EnvKeyUAMS" type="xs:string"/>
									<xs:attribute name="NamespaceUAMS" type="xs:string"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="class" type="xs:string" use="required"/>
						<xs:attribute name="clarify_login_name_key" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="ClfySessionRequestTypes" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="RequestType">
								<xs:complexType>
									<xs:attribute name="name" type="xs:string"/>
									<xs:attribute name="MaxConncurrentRequestCount" type="xs:int"/>
									<xs:attribute name="MaxWaitTimeInSecs" type="xs:int"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="DataMapper" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DatamapInitializationFiles" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="File" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:attribute name="name" type="xs:ID" use="required"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="dataMapValidation" type="xs:boolean"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="Resources">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ContainerManagedJdbc" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Connection" type="ConnectionType"/>
									</xs:sequence>
									<xs:attribute name="name" type="xs:ID" use="required"/>
									<xs:attribute name="jdbc_hosttype" type="xs:string" use="optional"/>
									<xs:attribute name="jndi_name" type="xs:string" use="required"/>
									<xs:attribute name="jndi_initialcontext" type="xs:string" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="LocalJdbc" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Connection">
											<xs:complexType>
												<xs:attribute name="Username" type="xs:string" use="optional"/>
												<xs:attribute name="Password" type="xs:string" use="optional"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="name" type="xs:ID" use="required"/>
									<xs:attribute name="conn_url" type="xs:string" use="required"/>
									<xs:attribute name="jdbc_driver" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="EJB" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Connection" type="ConnectionType"/>
										<xs:element name="jndi-names" minOccurs="0">
											<xs:complexType>
												<xs:sequence minOccurs="0">
													<xs:element name="jndi-info" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:attribute name="remote-class" type="xs:string" use="required"/>
															<xs:attribute name="home-class" type="xs:string" use="required"/>
															<xs:attribute name="jndi-name" type="xs:string" use="required"/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="name" type="xs:ID" use="required"/>
									<xs:attribute name="ejb_HostType" type="xs:string" use="required"/>
									<xs:attribute name="ejb_UAMS_url" type="xs:string"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="JMSTopic" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Connection" type="ConnectionType"/>
									</xs:sequence>
									<xs:attributeGroup ref="JMSResourceAttributes"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="JMSQueue" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Connection" type="ConnectionType"/>
									</xs:sequence>
									<xs:attributeGroup ref="JMSResourceAttributes"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="InboundEmail" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Connection" type="ConnectionType"/>
									</xs:sequence>
									<xs:attribute name="name" type="xs:ID" use="required"/>
									<xs:attribute name="PollingInterval" type="xs:short" use="required"/>
									<xs:attribute name="MaximumPollingNumber" type="xs:integer" use="required"/>
									<xs:attribute name="PMProcess" type="xs:string" use="required"/>
									<xs:attribute name="PMProcessVersion" type="xs:string"/>
									<xs:attribute name="OutboundResourceName" type="xs:string" use="required"/>
									<xs:attribute name="Routing" type="xs:boolean" use="required"/>
									<xs:attribute name="SendAutoConfirmation" type="xs:boolean" use="required"/>
									<xs:attribute name="RepeatIfFailed" type="xs:short" use="required"/>
									<xs:attribute name="RepeatTimes" type="xs:byte" use="required"/>
									<xs:attribute name="FormatFile" type="xs:anyURI" use="required"/>
									<xs:attribute name="TrackingObjRegExp" type="xs:string" use="required"/>
									<xs:attribute name="DBObjectName" type="xs:string" use="required"/>
									<xs:attribute name="ObjectBo" type="xs:string" use="required"/>
									<xs:attribute name="EmailTemplateFile" type="xs:anyURI" use="required"/>
									<xs:attribute name="AdminNotificationAction" type="xs:string" use="required"/>
									<xs:attribute name="UserFormatNotificationAction" type="xs:string" use="required"/>
									<xs:attribute name="AutoConfirmationAction" type="xs:string" use="required"/>
									<xs:attribute name="SendNotificationsTo" type="xs:string" use="required"/>
									<xs:attribute name="ReplyToAddress" type="xs:string" use="required"/>
									<xs:attribute name="ExcludeAttachmentsWithExt" type="xs:string"/>
									<xs:attribute name="MarkAsRead" type="xs:boolean"/>
									<xs:attribute name="DefPartDesc" type="xs:string"/>
									<xs:attribute name="DefPartNo" type="xs:string"/>
									<xs:attribute name="DefPartRev" type="xs:string"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="OutboundEmail" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Connection" type="ConnectionType"/>
									</xs:sequence>
									<xs:attribute name="name" type="xs:ID" use="required"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Socket" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Connection" type="ConnectionType"/>
									</xs:sequence>
									<xs:attribute name="name" type="xs:ID" use="required"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="Tux" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Connection" type="ConnectionType"/>
									</xs:sequence>
									<xs:attribute name="name" type="xs:ID" use="required"/>
									<xs:attribute name="jolt_user_role" type="xs:string" use="required"/>
									<xs:attribute name="jolt_application_password" type="xs:string" use="required"/>
									<xs:attribute name="clarify_FDServer" type="xs:string" use="optional"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="XMLGateway" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Resource" type="XMLGatewayResourceType" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
						<xs:attribute name="version" type="xs:string" use="optional"/>
						<xs:attribute name="cbo_def_username" type="xs:string" use="optional"/>
						<xs:attribute name="cbo_def_psswd" type="xs:string" use="optional"/>
						<xs:attribute name="bean_packages" type="xs:string" use="optional"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="ProcessManager" minOccurs="0">
					<xs:complexType>
						<xs:all>
							<xs:element name="StatusPollTime" type="xs:integer"/>
							<xs:element name="DependentFieldPoller">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="PollIntervalSeconds" type="xs:integer"/>
										<xs:element name="NumPollers" type="xs:integer"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="YieldThreshold" type="xs:integer"/>
							<xs:element name="EJBContainer">
								<xs:complexType>
									<xs:attribute name="Resource" type="xs:IDREF" use="required"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="ExecutionDomains">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Domain" maxOccurs="unbounded">
											<xs:complexType>
												<xs:attribute name="name" type="xs:ID" use="required"/>
												<xs:attribute name="priority" type="xs:byte" use="required"/>
												<xs:attribute name="jmsresource" type="xs:IDREF" use="required"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="JMSPriorities">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Priority" maxOccurs="unbounded">
											<xs:complexType>
												<xs:attribute name="yieldthreshold" type="xs:integer" use="required"/>
												<xs:attribute name="name" use="required">
													<xs:simpleType>
														<xs:restriction base="xs:ID">
															<xs:enumeration value="P1"/>
															<xs:enumeration value="P2"/>
															<xs:enumeration value="P3"/>
															<xs:enumeration value="P4"/>
															<xs:enumeration value="P5"/>
															<xs:enumeration value="P6"/>
															<xs:enumeration value="P7"/>
															<xs:enumeration value="P8"/>
															<xs:enumeration value="P9"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:all>
					</xs:complexType>
				</xs:element>
				<xs:element name="AmdocsProcMgr" minOccurs="0">
					<xs:complexType>
						<xs:all>
							<xs:element name="ProcessMonitor">
								<xs:complexType>
									<xs:attribute name="base-url" type="xs:string" use="optional"/>
								</xs:complexType>
							</xs:element>
						</xs:all>
					</xs:complexType>
				</xs:element>
				<xs:element name="OMStandardIntegration" minOccurs="0">
					<xs:complexType>
						<xs:all>
							<xs:element name="Mode" type="xs:integer"/>
							<xs:element name="CharSet" type="xs:string"/>
							<xs:element name="URMDefaultPool" type="xs:integer"/>
							<xs:element name="QuotationOrigin" type="xs:string"/>
							<xs:element name="ProvisioningAppID" type="xs:string"/>
							<xs:element name="FulfillmentAppID" type="xs:string"/>
						</xs:all>
					</xs:complexType>
				</xs:element>
				<xs:element name="ServiceSimulation" type="ServiceSimulationType" minOccurs="0"/>
				<xs:element name="CustTools" minOccurs="0">
					<xs:complexType>
						<xs:all>
							<xs:element name="ClarifyCacheJarIncludes" type="xs:string" minOccurs="0"/>
							<xs:element name="CacheJarExcludes" type="xs:string" minOccurs="0"/>
							<xs:element name="CompileJavaCode" type="xs:string" minOccurs="0"/>
							<xs:element name="PackageName" type="xs:string" minOccurs="0"/>
							<xs:element name="AutoPageClassUpdate" type="xs:string" minOccurs="0"/>
							<xs:element name="JSPLocation" type="xs:string" minOccurs="0"/>
							<xs:element name="JavaSrcLocation" type="xs:string" minOccurs="0"/>
							<xs:element name="ClfyToolsLocation" type="xs:string" minOccurs="0"/>
							<xs:element name="JavaEditorLocation" type="xs:string" minOccurs="0"/>
							<xs:element name="JavaClassesLocation" type="xs:string" minOccurs="0"/>
							<xs:element name="CustomizeJavaCode" type="xs:string" minOccurs="0"/>
							<xs:element name="AutoUpdateCache" type="xs:string" minOccurs="0"/>
							<xs:element name="UserCacheJarIncludes" type="xs:string" minOccurs="0"/>
							<xs:element name="PathJarExcludes" type="xs:string" minOccurs="0"/>
							<xs:element name="AdditionalJars" type="xs:string" minOccurs="0"/>
							<xs:element name="RecentFiles" type="xs:string" minOccurs="0"/>
							<xs:element name="DDEditorMode" type="xs:string" minOccurs="0"/>
							<xs:element name="LoginToClfyDB" type="xs:string" minOccurs="0"/>
							<xs:element name="JspSignID" type="xs:string" minOccurs="0"/>
							<xs:element name="CD1RootDirectory" type="xs:string" minOccurs="0"/>
							<xs:element name="CD2RootDirectory" type="xs:string" minOccurs="0"/>
						</xs:all>
					</xs:complexType>
				</xs:element>
				<xs:element name="EmailManager" type="EmailManagerType" minOccurs="0"/>
				<xs:element name="ServerManagedProcesses" minOccurs="0">
					<xs:complexType>
						<xs:all>
							<xs:element name="EmailManager" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ServerNode" type="ServerNodeType" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="XMLGateway" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ServerNode" type="ServerNodeType" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="BAP" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ServerNode" maxOccurs="unbounded">
											<xs:complexType>
												<xs:complexContent>
													<xs:extension base="ServerNodeType">
														<xs:attribute name="options" type="xs:string" use="optional"/>
														<xs:attribute name="StatisticsLogFileName" type="xs:string" use="optional"/>
														<xs:attribute name="WorkerThreads" type="xs:int" use="optional"/>
														<xs:attribute name="Debug" type="xs:boolean" use="optional"/>
													</xs:extension>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="version" type="xs:string" use="optional"/>
									<xs:attribute name="def_options" type="xs:string" use="optional"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="EP" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ServerNode" maxOccurs="unbounded">
											<xs:complexType>
												<xs:complexContent>
													<xs:extension base="ServerNodeType">
														<xs:sequence>
															<xs:element name="Publisher" type="PublisherNames"  maxOccurs="unbounded"/>
														</xs:sequence>
														<xs:attribute name="options" type="xs:string" use="optional"/>
													</xs:extension>
												</xs:complexContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="version" type="xs:string" use="optional"/>
								</xs:complexType>
							</xs:element>
						</xs:all>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="formatVersion" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ServerNodeType">
		<xs:sequence>
			<xs:element name="Resource" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="name" type="xs:IDREF" use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="ConnectionType">
		<xs:attribute name="HostId" type="xs:anyURI" use="required"/>
		<xs:attribute name="listener" type="xs:short"/>
		<xs:attribute name="Username" type="xs:string"/>
		<xs:attribute name="Password" type="xs:string"/>
		<xs:attribute name="Domain" type="xs:string"/>
		<xs:attribute name="ConnType" type="xs:string"/>
		<xs:attribute name="GlobalConnPoolSize" type="xs:integer"/>
		<xs:attribute name="PrivateConnTimeout" type="xs:int"/>
		<xs:attribute name="AuthenticationRequired" type="xs:string"/>
		<xs:attribute name="ConnPoolType" type="xs:string"/>
		<xs:attribute name="ConnPoolSize" type="xs:integer"/>
		<xs:attribute name="InitialContextFactory" type="xs:string"/>
		<xs:attribute name="ExternAuthUserNameKey" type="xs:string"/>
		<xs:attribute name="ExternAuthPasswordKey" type="xs:string"/>
		<xs:attribute name="PortId" type="xs:int"/>
		<xs:attribute name="AppIdUAMS" type="xs:string"/>
		<xs:attribute name="EnvKeyUAMS" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="PublisherNames">
		<xs:attribute name="name" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="EmailManagerType">
		<xs:all>
			<xs:element name="TextScrubExpression" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="Expr" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="BouncedExpression" minOccurs="0">
				<xs:complexType>
					<xs:all>
						<xs:element name="Sender">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="Expr" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Text">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="Expr" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="OutOfOffice">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="Expr" maxOccurs="unbounded"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:all>
				</xs:complexType>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:element name="Expr">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="name" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="JMSResourceAttributes">
		<xs:attribute name="name" type="xs:ID" use="required"/>
		<xs:attribute name="sender" type="xs:string" use="required"/>
		<xs:attribute name="receiver" type="xs:string" use="required"/>
		<xs:attribute name="jms_connectionfactory" type="xs:string" use="required"/>
		<xs:attribute name="jms_destination" type="xs:string" use="required"/>
		<xs:attribute name="jms_jndi_initialcontext" type="xs:string" use="required"/>
		<xs:attribute name="jms_ack_mode" type="xs:string"/>
		<xs:attribute name="jms_msg_deliverymode" type="xs:string"/>
	</xs:attributeGroup>
	<xs:complexType name="ServiceSimulationType">
		<xs:sequence>
			<xs:element name="Service" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:attribute name="name" type="xs:ID" use="required"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="simulate" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="XMLGatewayResourceType">
		<xs:attribute name="name" type="xs:IDREF" use="required"/>
		<xs:attribute name="cbo_username" type="xs:string" use="optional"/>
		<xs:attribute name="cbo_password" type="xs:string" use="optional"/>
		<xs:attribute name="partner_id" type="xs:string" use="optional"/>
		<xs:attribute name="xslt_dir" type="xs:string" use="optional"/>
		<xs:attribute name="validate" type="xs:string" use="optional"/>
		<xs:attribute name="transformers" type="xs:string" use="optional"/>
		<xs:attribute name="sender" type="xs:string" use="required"/>
		<xs:attribute name="disable_authorization" type="xs:boolean" use="optional"/>
		<xs:attribute name="MDB" type="xs:boolean" use="optional"/>
		<xs:attribute name="MDB_Logical_QueueName" type="xs:string" use="optional"/>
		<xs:attribute name="cbo_defassoc" type="xs:string" use="optional"/>
	</xs:complexType>
</xs:schema>
